<% content_for :head do %>
	<title>Chapry.com</title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="chapry.com | Học Tiếng Anh The Fun Way">
	<meta property="og:description" content="Video Clip, Tin Tức, Trò Chơi, Bài Hát">
	<meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/chaprycms/logo1">
<% end %>

<%= render partial: "shared/header" %>

<!-- DESKTOP -->
<!-- TOP AD DESKTOP-->
<div class="w3-dark-grey w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px;margin-bottom:10px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+5.png"  style="">	
		</div>
	</div>
</div>
<!-- CATEGORY TABS DESKTOP-->
<div style="font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-medium w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-conntainer">
        <div style="margin-left:20px">
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
        </div>	
    </div>	
</div>

<!-- A DESKTOP-->
<div style="max-width:600px;margin:auto" class="w3-container w3-hide-medium w3-hide-small w3-animate-opacity">
  <% @tintucs.each do |tintuc| %>
	  <% if tintuc.musica %>
		  <%= link_to [tintuc.category, tintuc] do %>
		  	<div class="w3-contaner">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-hover-opacity w3-blue w3-padding w3-display-bottomleft">
				    	<p><%= tintuc.title %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
	  <% end %>
  <% end %>
</div>

<!-- FACEBOOK LIKE-->
<div class="w3-margin-top w3-hide-medium w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div style="margin-left:50px" class="w3-container">
			<div style="" class="w3-container">
				<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/"></a></blockquote></div>Kết Nối Vối Chapry trên Facebook
			</div>	
		</div>	
	</div>	
</div>

<!-- B DESKTOP-->
<div style="max-width:1260px;margin:auto" class="w3-hide-medium w3-hide-small w3-main" >
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.musicb %>
				<%= link_to [tintuc.category, tintuc] do %>
					<div class="w3-col l2">
						<div class="w3-margin-right content">
							<div class="w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>



<!-- IPAD-->
<!-- TOP AD IPAD -->
<div class="w3-dark-grey w3-hide-large w3-hide-small w3-main">
	<div style="margin-left:50px">
		<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+6.png"  style="width:100%">	
	</div>
</div>

<!-- CATEGORY TABS IPAD-->
<div style="font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-small w3-hide-large w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-margin-left w3-conntainer">
        <div>
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
        </div>	
    </div>	
</div>
	
<!-- A IPAD -->
<div class="w3-margin-left w3-hide-large w3-hide-small w3-black w3-container">
	<div class="w3-container w3-hide-large w3-hide-small w3-animate-opacity">
	  <% @tintucs.each do |tintuc| %>
		  <% if tintuc.musica %>
		  <%= link_to [tintuc.category, tintuc] do %>
		  	<div class="w3-col m12 ">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-blue w3-hover-opacity w3-padding w3-display-bottomleft">
				    	<p><%=  tintuc.title %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
		  <% end %>
	  <% end %>
	</div>
</div>	

<!-- FACEBOOK LIKE IPAD -->
<div class="w3-margin-top w3-margin-left w3-hide-large w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div class="w3-container">
			<div style="" class="w3-container">
				<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/"></a></blockquote></div>Kết Nối Vối Chapry trên Facebook
			</div>	
		</div>	
	</div>	
</div>

<!-- B IPAD -->
<div class="w3-margin-left w3-hide-large w3-hide-small w3-container">
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.musicb %>
		<%= link_to [tintuc.category, tintuc] do %>
			<div class="w3-col m3">
				<div class="w3-white w3-margin-right content">
					<div class=" w3-display-container">
						<%= image_tag tintuc.image.url, style: "width:100%" %>
					</div>
					<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
	  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
	  					<p><%= tintuc.title %></p>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>


<!-- PHONE -->

<!-- CATEGORY TABS IPAD-->
<div style="margin-top:50px;font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-medium w3-hide-large w3-container">
	<div  class=" w3-container">
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
    </div>	
</div>

<!-- A IPAD -->
<div class="w3-hide-large w3-hide-medium w3-black w3-container">
	<div class="w3-container w3-hide-large w3-hide-medium w3-animate-opacity">
	  <% @tintucs.each do |tintuc| %>
		  <% if tintuc.musica %>
		  <%= link_to [tintuc.category, tintuc] do %>
		  	<div class="w3-col m12 ">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-blue w3-hover-opacity w3-padding w3-display-bottomleft">
				    	<p><%=  tintuc.title %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
		  <% end %>
	  <% end %>
	</div>
</div>
<!-- FACEBOOK LIKE PHONE-->
<div class="w3-margin-top  w3-hide-large w3-hide-medium w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div class="w3-container">
			<div style="" class=" w3-container">
				<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/"></a></blockquote></div>Kết Nối Vối Chapry trên Facebook
			</div>	
		</div>	
	</div>	
</div>

<!-- B PHONE-->
<div class="w3-hide-medium w3-hide-large w3-container">
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.musicb %>
		<%= link_to [tintuc.category, tintuc] do %>
			<div class="w3-col w3-padding-small s6">
				<div class="w3-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
					<div style="min-height:60px;line-height:1.2;font-size:14px" class="w3-container">
	  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
	  					<p><%= tintuc.title %></p>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>
<%= render partial: "shared/footer" %>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>