<% content_for :head do %>
	<title>Chapry.com</title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="chapry.com | Học Tiếng Anh The Fun Way">
	<meta property="og:description" content="Video Clip, Tin Tức, Trò Chơi, Bài Hát">
	<meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/chaprycms/logo1">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>

<!-- DESKTOP -->
<!-- TOP AD DESKTOP-->
<div class="w3-dark-grey w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px;margin-bottom:10px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+5.png"  style="">	
		</div>
	</div>
</div>

<!-- CATEGORY TABS DESKTOP-->
<div style="font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-medium w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-conntainer">
        <div style="margin-left:50px">
        	<%= link_to "Home", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Video", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<!--<%= link_to "Tin Tức", news_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Học Tiếng Anh", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Trò Chơi", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Âm Nhạc", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Ngữ Pháp", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        </div>	
    </div>	
</div>

<!-- A DESKTOP-->
<div class="w3-container w3-hide-medium w3-hide-small w3-animate-opacity">
  <% @tintucs.each do |tintuc| %>
	  <% if tintuc.a %>
		  <%= link_to tintuc do %>
		  	<div class="w3-col l4">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-hover-opacity w3-padding w3-display-bottomleft">
				    	<p><%= raw tintuc.description %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
	  <% end %>
  <% end %>
</div>

<!-- FACEBOOK LIKE-->
<div class="w3-hide-medium w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div style="margin-left:50px" class="w3-container">
			<div style="" class="w3-container">
				<div class="fb-like" data-href="https://www.facebook.com/chaprynz" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>Kết Nối Trên FaceBook
			</div>	
		</div>	
	</div>	
</div>

<!-- B DESKTOP-->
<div style="max-width:1260px;margin:auto" class="w3-hide-medium w3-hide-small w3-main" >
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.b %>
				<%= link_to [tintuc.category, tintuc] do %>
					<div class="w3-col l2">
						<div class="w3-margin-right content">
							<div class="w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- C DESKTOP-->
<div class="w3-dark-grey w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.c %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.c %>
					<%= link_to tintuc do %>
						<div class="w3-col l2">
							<div class="w3-margin-right content">
								<div class="w3-display-container">
									<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
				  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
				  					<p><%= tintuc.title %></p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- D DESKTOP-->
<div class="w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.d %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.d %>
					<%= link_to tintuc do %>
						<div class="w3-col l2">
							<div class="w3-margin-right content">
								<div class="w3-display-container">
									<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
				  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
				  					<p><%= tintuc.title %></p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- MIDDLE AD-->
<div class="w3-light-blue w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+4.png"  style="width:100%">	
		</div><br>
	</div>
</div>

<!-- E DESKTOP-->
<div class="w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.e %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.e %>
					<%= link_to tintuc do %>
						<div class="w3-col l2">
							<div class="w3-margin-right content">
								<div class="w3-display-container">
									<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
				  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
				  					<p><%= tintuc.title %></p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- F DESKTOP-->
<div class="w3-dark-white w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.f %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-dark-grey w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.f %>
					<%= link_to tintuc do %>
						<div class="w3-col l2">
							<div class="w3-margin-right content">
								<div class="w3-display-container">
									<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
				  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
				  					<p><%= tintuc.title %></p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- G DESKTOP-->
<div class="w3-dark-white w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.g %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-dark-grey w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
			<% @tintucs.each do |tintuc| %>
				<% if tintuc.g %>
					<%= link_to tintuc do %>
						<div class="w3-col l2">
							<div class="w3-margin-right content">
								<div class="w3-display-container">
									<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
				  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
				  					<p><%= tintuc.title %></p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- BOTTOM ADS DESKTOP-->
<div class="w3-light-blue w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div class="w3-col l3">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+1.png">
				</div>
		 	</div>
		 	<div class="w3-col l3">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
				</div>
		 	</div>
		 	<div class="w3-col l3">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
				</div>
		 	</div>
		 	<div class="w3-col l3">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+3.png">
				</div>
		 	</div>
		 </div> 
	</div>
</div>

<!-- IPAD-->
<!-- TOP AD IPAD -->
<div class="w3-dark-grey w3-hide-large w3-hide-small w3-main">
	<div style="margin-left:50px">
		<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+6.png"  style="width:100%">	
	</div>
</div>

<!-- CATEGORY TABS IPAD-->
<div style="font-family: 'Raleway', sans-serif" class="w3-black w3-hide-large w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-conntainer">
        <div style="margin-left:50px">
        	<%= link_to "Home", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Video", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<!--<%= link_to "Tin Tức", news_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Học Tiếng Anh", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Trò Chơi", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Âm Nhạc", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Ngữ Pháp", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        </div>	
    </div>	
</div>
	
<!-- A IPAD -->
<div class="w3-hide-large w3-hide-small w3-black w3-container">
	<div style="margin-left:50px" class="w3-container w3-hide-large w3-hide-small w3-animate-opacity">
	  <% @tintucs.each do |tintuc| %>
		  <% if tintuc.ipadhome %>
		  <%= link_to tintuc do %>
		  	<div class="w3-col m12 ">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-hover-opacity w3-padding w3-display-bottomleft">
				    	<p><%= raw tintuc.description %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
		  <% end %>
	  <% end %>
	</div>
</div>	

<!-- FACEBOOK LIKE IPAD -->
<div class="w3-hide-large w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div style="margin-left:50px" class="w3-container">
			<div style="" class="w3-container">
				<div class="fb-like" data-href="https://www.facebook.com/chaprynz" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>Kết Nối Trên FaceBook
			</div>	
		</div>	
	</div>	
</div>

<!-- B IPAD -->
<div style="margin-left:50px" class="w3-hide-large w3-hide-small w3-container">
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.b %>
		<%= link_to tintuc do %>
			<div class="w3-col m3">
				<div class="w3-white w3-margin-right content">
					<div class=" w3-display-container">
						<%= image_tag tintuc.image.url, style: "width:100%" %>
					</div>
					<div style="min-height:150px;line-height:1.2;font-size:14px" class="w3-container">
	  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
	  					<p><%= tintuc.title %></p>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- C IPAD -->
<div class="w3-black w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.c %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.c %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-black w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- D IPAD -->
<div class="w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.d %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.d %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- MIDDLE AD-->
<div class="w3-hide-large w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px;font-family: 'Raleway', sans-serif" class="w3-center w3-container"><div style="font-size:1.4rem">Tài Trợ <button class="w3-btn w3-dark-grey w3-small w3-round w3-margin">Học Tiếng Anh </button></div></div>
		<div style="margin-left:50px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+4.png"  style="width:100%">	
		</div><br>
	</div>
</div>

<!-- E IPAD -->
<div class="w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.e %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.e %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- F IPAD -->
<div class="w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.f %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.f %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- G IPAD -->
<div class="w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.g %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.g %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!-- H IPAD -->
<div class="w3-container w3-hide-large w3-hide-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.h %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<div style="margin-left:50px" class="w3-container">
		<% @tintucs.each do |tintuc| %>
			<% if tintuc.h %>
				<%= link_to tintuc do %>
					<div class="w3-col m3">
						<div class="w3-margin-right">
							<div class=" w3-display-container">
								<%= image_tag tintuc.image.url, style: "width:100%" %>
							</div>
							<div style="min-height:136px;line-height:1.2;font-size:14px" class="w3-container">
			  					<p><%= tintuc.title %></p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<!--BOTTOM AD IPAD-->
<div class="w3-light-blue w3-hide-large w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-left:50px" class="w3-container">
			<div style="font-family: 'Raleway', sans-serif" class="w3-container"><div style="font-size:1.4rem">Tài Trợ <button class="w3-btn w3-dark-grey w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div></div>
			<div class="w3-col m6">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+1.png">
				</div>
		 	</div>
		 	<div class="w3-col m6">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
				</div>
		 	</div>
		 	<div class="w3-col m6">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
				</div>
		 	</div>
		 	<div class="w3-col m6">
				<div style="min-height:300px" class="w3-margin-right content">
					<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+3.png">
				</div>
		 	</div>
		 </div> 
	</div>
</div>

<!-- PHONE -->
<!-- TOP AD PHONE-->
<div style="margin-top:50px" class="w3-padding w3-dark-grey w3-hide-large w3-hide-medium w3-main">
	<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+7.jpg"  style="width:100%">	
</div>

<!-- CATEGORY TABS PHONE-->
<div style="font-family: 'Raleway', sans-serif" class="w3-hide-large w3-hide-medium w3-container">
	<%= link_to "Home", root_path, class: "w3-margin-bottom w3-btn" %>
	
	<%= link_to "Video", video_path, class: "w3-margin-bottom w3-btn" %>
	
	<%= link_to "Tin Tức", news_path, class: "w3-margin-bottom w3-btn" %>
		
	<%= link_to "Học Tiếng Anh", tuvung_path, class: "w3-margin-bottom w3-btn" %>
		
	<!--<%= link_to "Trò Chơi", trochoi_path, class: "w3-margin-bottom w3-btn" %>
		
	<%= link_to "Âm Nhạc", baihat_path, class: "w3-margin-bottom w3-btn" %>

	<%= link_to "Ngữ Pháp", nguphap_path, class: "w3-margin-bottom w3-btn" %>-->
</div>

<!-- A PHONE-->
<div class="w3-container w3-hide-large w3-hide-medium w3-animate-opacity">
  <% @tintucs.each do |tintuc| %>
	  <% if tintuc.ipadhome %>
		  <%= link_to tintuc do %>
		  	<div class="w3-col m12 ">
				<div class="w3-display-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
				    <div style="font-family: 'Raleway', sans-serif;font-size:1.2rem;line-height:1.2;color:white" class="w3-hover-opacity w3-padding w3-display-bottomleft">
				    	<p><%= raw tintuc.description %></p>
				    </div>
				</div>	
			</div>
		  <% end %>
	  <% end %>
  <% end %>
</div>
<!-- FACEBOOK LIKE PHONE-->
<div class="w3-hide-large w3-hide-medium w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-main" >
		<div class="w3-container">
			<div style="" class="w3-container">
				<div class="fb-like" data-href="https://www.facebook.com/chaprynz" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>kết Nối Trên FaceBook
			</div>	
		</div>	
	</div>	
</div>

<!-- B PHONE-->
<div class="w3-hide-medium w3-hide-large w3-container">
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.b %>
		<%= link_to tintuc do %>
			<div class="w3-col w3-padding-small s6">
				<div class="w3-container">
					<%= image_tag tintuc.image.url, style: "width:100%" %>
					<div style="min-height:60px;line-height:1.2;font-size:14px" class="w3-container">
	  					<p style="margin-bottom:-10px!important;color:#9E8383;font-size:10px!important"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(tintuc.created_at)%> ago </p>
	  					<p><%= tintuc.title %></p>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- C PHONE-->
<div class="w3-black w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.c %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.c %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- D PHONE-->
<div class="w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.d %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.d %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- MIDDLE AD-->
<div class="w3-hide-large w3-hide-medium w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div>
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+4.png"  style="width:100%">	
		</div><br>
	</div>
</div>

<!-- E PHONE-->
<div class="w3-black w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.e %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.e %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- F PHONE-->
<div class="w3-black w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.f %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.f %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- G PHONE-->
<div class="w3-black w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.g %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.g %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- H PHONE-->
<div class="w3-black w3-hide-large w3-hide-medium w3-container w3-padding-small">
	<div style="font-family: 'Raleway', sans-serif" class="w3-container"><% @categories.each do |category| %><% if category.h %><%= link_to category do %><div style="font-size:1.4rem"><%= category.shortname %> <button class="w3-btn w3-blue w3-small w3-round w3-margin">xem tất cả <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></div><% end %><% end %><% end %></div>
	<% @tintucs.each do |tintuc| %>
		<% if tintuc.h %>
		<%= link_to tintuc do %>
			<div style="margin-bottom:10px" class="w3-container">
				<div  class="w3-col s4 m4 ">
  					<%= image_tag tintuc.image.url, style: "width:100%" %>
				</div>
				<div style="min-height:100px;line-height:1.2;font-size:14px;padding-left:10px;" class=" w3-col s8 m8  w3-container">
				  <p><%= tintuc.title %></p>
				</div>
			</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<!-- BOTTOM AD PHONE-->
<div class="w3-margin-bottom w3-hide-large w3-hide-medium w3-main">
	<div class="w3-container">
		<div class="w3-col s6">
			<div class="w3-margin-right content">
				<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+1.png">
			</div>
	 	</div>
	 	<div class="w3-col s6">
			<div class="w3-margin-right content">
				<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
			</div>
	 	</div>
	 	<div class="w3-col s6">
			<div class="w3-margin-right content">
				<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+2.png">
			</div>
	 	</div>
	 	<div class="w3-col s6">
			<div class="w3-margin-right content">
				<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+3.png">
			</div>
	 	</div>
	 </div> 
</div>

<%= render partial: "shared/footer" %>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>