<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>
<div class="bodyimage w3-display-container w3-hide-small w3-display-container w3-animate-opacity">
  <% @categories.each do |category| %>
	  <% if category.homelogo %>
	  	<%= image_tag category.logo.url, style: "width:100%" %>
	  <% end %>
  <% end %>
  <div class="w3-container w3-display-topleft" style="color:crimson;;">  
    <h1 style="font-weight:900;font-size:80px"><strong>HỌC TIẾNG ANH</strong></h1>
  </div>
</div><br>
<div  class="w3-hide-small w3-main" >
	
	<div style="margin-left:42px" class="w3-container">
		<div class="w3-hide-small w3-col l9 m9 s12">
			<div style="margin-bottom:30px" class="w3-container w3-padding">
				<% @posts.each do |post| %>
						<%= link_to [post.category, post] do %>
							<div class="w3-padding  w3-col l4 m6">
								<div class="w3-card-2 w3-round w3-display-container content">
									<%= image_tag post.image.url, style: "width:100%" %>
									<div  class="w3-red  w3-display-topright"><%= raw post.description %></div>
									<div style="min-height:100px;line-height:1.2;font-size:12px" class="w3-padding  w3-white w3-container">
										<p style="color:#9E8383"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  					<p><strong><%= post.title %></strong></p>
									</div>
								</div>
							</div>	
						<% end %>
				<% end %>
				</div>
				<div class="w3-container w3-padding"><%= paginate @posts %></div>
		</div>
		<%= render partial: "shared/sidebar" %>
	</div>
</div>	

<div style="margin-top:46px" class="w3-hide-large w3-hide-medium w3-main" >
	<div class="w3-col l4 m4 w3-hide-large w3-hide-medium   w3-white  ">
	<div  class="w3-container">
		<% @posts.each do |post| %>
			<% if !post.logo? %>
			<%= link_to [post.category, post] do %>
				<div style="" class="w3-padding w3-container">
					<div style="" class="w3-col s4 m4 ">
	  					<%= image_tag post.image.url, style: "width:100%" %>
					</div>
					<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
					  <p style="color:#9E8383"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  <p><strong><%= post.title %></strong></p>
					  <div style="font-weight:900;max-width:150px" class="w3-padding w3-red"><%= raw post.description %></div>
					  
					</div>
				</div>	
			<% end %>
			<% end %>
		<% end %>
		<%= paginate @posts %>
		
	</div>	
</div>
</div>	

<%= render partial: "shared/footer" %>
