
<% content_for :head do %>
	<title><%= @category.name %> | Code4Pro</title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= @category.name %>">
	<meta property="og:description" content="<%= @category.description %>">
	<meta property="og:image" content="<%= @category.image.url %>">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>
<div style="margin-top:10px" class="w3-hide-small w3-display-container w3-animate-opacity">
  
  <%= image_tag @category.logo.url, style: "width:100%" %>
  
</div>
<div  class="w3-main">
	<div style="margin-left:42px" class="w3-container ">
		
		<div class="w3-hide-small w3-col l9 m9 s12">
			<div style="margin-bottom:30px" class="w3-container w3-padding">
				<% @posts.each do |post| %>	
					<%= link_to [post.category, post], class: "mySlides" do %>
							<div  class="w3-card-1 w3-display-container w3-hover-shadow ">
								<%= image_tag post.image.url, style: "width:100%" %>
								
								
							</div>
							
					<% end %>	
				<% end %>
						<% end %>
				<% end %>
				</div>
				<div class="w3-container w3-padding"><%= paginate @posts %></div>
		</div>
		
		
		<div class="w3-hide-large w3-hide-medium  w3-white  ">
			<div style="margin-top:42px" class="w3-container">
				<% @posts.each do |post| %>	
					<%= link_to [post.category, post], class: "mySlides" do %>
							<div  class="w3-card-1 w3-display-container w3-hover-shadow ">
								<%= image_tag post.image.url, style: "width:100%" %>
								
								
							</div>
							
					<% end %>	
				<% end %>
						<% end %>
				<% end %>
			</div>	
		</div>
		<%= render partial: "shared/sidebar" %>
	</div>
</div>

<%= render partial: "shared/footer" %>
<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>
