<div style="font-family: 'Raleway', sans-serif;margin-left:50px" class="cartab w3-center w3-hide-medium w3-hide-small w3-container">
	<%= link_to "Home", root_path, class: "w3-dark-grey w3-btn" %>
	
	<%= link_to "Video", video_path, class: "w3-dark-grey w3-btn" %>
	
	<%= link_to "Tin Tức", news_path, class: "w3-dark-grey w3-btn" %> 
		
	<!--<%= link_to "Từ Vựng", tuvung_path, class: "w3-dark-grey w3-btn" %>
		
	<%= link_to "Trò Chơi", trochoi_path, class: "w3-dark-grey w3-btn" %>
		
	<%= link_to "Âm Nhạc", baihat_path, class: "w3-dark-grey w3-btn" %>
		
	<%= link_to "Ngữ Pháp", nguphap_path, class: "w3-dark-grey w3-btn" %>-->
</div>