<div style="background: rgba(0, 0, 0, 0.8)"  class="w3-col l4 m4 w3-hide-small  ">
	<div  class="w3-container">
		<% @posts.each do |post| %>
			<% if post.logo %><div style="" class="w3-border-bottom content  w3-container"><%= image_tag post.image, style: "width:100%" %></div>
			<% end %>	
		<% end %>
		<% @posts.each do |post| %>
			<% if !post.logo? %>
			<%= link_to [post.category, post] do %>
				<div class="w3-border-bottom content w3-padding w3-container">
					<div  class="w3-col s4 m4 ">
  						<%= image_tag post.image, style: "width:100%" %>
					</div>
					<div style="padding-left:10px;line-height:0.8;font-size:12px" class=" w3-col s8 m8  w3-container">
					  <p style="color:white"><%= post.title %></p>
					  <p style="color:red"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  <p style="color:lightblue"><i class="fa fa-eye" aria-hidden="true"></i> 2.6k</p>
					</div>
					<div class="content-overlay"></div>
					<div class="content-details fadeIn-bottom">
				        <h3 class="content-title"><%= post.title %></h3>
				        <p class="content-text">This is a short description</p>
			        </div>
				</div>
			<% end %>
			<% end %>
		<% end %>
		<%= paginate @posts %>
		
	</div>	
</div>

<div class="w3-col l4 m4 w3-hide-large w3-hide-medium   w3-white  ">
	<div  class="w3-container">
		<% @posts.each do |post| %>
			<% if !post.logo? %>
			<%= link_to [post.category, post] do %>
				<div style="" class="w3-border-bottom w3-hover-shadow w3-padding w3-container">
					<div style="" class="w3-col s4 m4 ">
	  					<%= image_tag post.image, style: "width:100%" %>
					</div>
					<div style="padding-left:10px;line-height:0.8;font-size:12px" class=" w3-col s8 m8  w3-container">
					  <p><strong><%= post.title %></strong></p>
					  <p style="color:red"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  <p style="color:lightblue"><i class="fa fa-eye" aria-hidden="true"></i> 2.6k</p>
					</div>
				</div>	
			<% end %>
			<% end %>
		<% end %>
		<%= paginate @posts %>
		
	</div>	
</div>