<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>

<div  style="max-width:1260px;margin:auto;margin-top:24px" class="w3-display-container w3-animate-opacity">
  <% @tintucs.each do |tintuc| %>
	  <% if tintuc.b %>
		  <%= link_to tintuc do %>
		  	<%= image_tag tintuc.image.url, style: "width:100%" %>
		  	<div style="margin-left:42px" class="w3-indigo w3-padding w3-display-bottomleft w3-text-white w3-half  w3-container"><h1><strong><%= tintuc.title %></strong></h1><p class="w3-text-yellow"><strong><%= tintuc.description %></strong></p></div>
		  <% end %>
	  <% end %>
  <% end %>
</div> 

<div style="max-width:1260px;margin:auto" class="w3-main" >
	<div class=" w3-hide-small w3-container" >
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- home page -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-9796522511877943"
			     data-ad-slot="3611847518">
			</ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div style="max-width:1260px;margin:auto" class="w3-main">
	<div  class="w3-container ">
	<div class="w3-col l9 m12 s12">
			<div style="max-width:600px;margin:auto;" class="w3-container w3-padding">
				<% @tintucs.each do |tintuc| %>
					<% if tintuc.c %>
					<%= link_to [tintuc.category, tintuc] do %>
							<div style="" class="w3-card-2 w3-margin w3-padding w3-white w3-container">
								<div style="" class="w3-col s4 m4 ">
				  					<%= image_tag tintuc.image.url, style: "width:100%" %>
								</div>
								<div style="padding-left:10px;line-height:1.2;font-size:12px" class="w3-col s8 m8  w3-container">
								  <br>
								  <p style="color:#9E8383"><%= tintuc.created_at.strftime("%d-%m-%Y") %></p>
								  <p><strong><%= tintuc.title %></strong></p>
								  <div style="background:#2C2453;color:white" class="w3-btn w3-red w3-padding "><%= tintuc.description %></div>
								</div>
							</div>
						<% end %>
						<% end %>
				<% end %>
			</div>
			<div class="w3-center"><%= paginate @tintucs, :outer_window => 3 %></div>
		</div>
		<%= render partial: "shared/sidebar" %>
		</div>
		</div>
	<div class="w3-center w3-hide-small w3-container=" >
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- long add 2 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-9796522511877943"
			     data-ad-slot="8622299916">
			</ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	
<%= render partial: "shared/footer" %>	
	