<% content_for :head do %>
	<title><%= @tintuc.title %></title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="<%= @tintuc.title %>">
	<meta property="og:description" content="<%= @tintuc.description %>">
	<meta property="og:image" content="<%= @tintuc.socialshare.url %>">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>

<!-- Desktop -------------------------------------------------------------------------->
<!-- Desktop -------------------------------------------------------------------------->
<!-- Desktop -------------------------------------------------------------------------->
<!-- Desktop -------------------------------------------------------------------------->
<!-- Desktop -------------------------------------------------------------------------->
<!-- Desktop -------------------------------------------------------------------------->

<!-- TOP LONG AD DESKTOP-->
<div class="w3-dark-grey w3-hide-medium w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-bottom:10px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+5.png"  style="">	
		</div>
	</div>
</div>

<!-- CATEGORY TABS DESKTOP-->
<div style="font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-medium w3-hide-small w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-conntainer">
        <div style="margin-left:20px">
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
        </div>	
    </div>	
</div>


<!-- MAIN BODY-->
<div style="max-width:1260px;margin:auto" class="w3-hide-medium w3-hide-small w3-main">
	
	<!-- WRAP BODY-->
	<div class="w3-container">
		
		<!-- CONTENT BOX DESKTOP-->
		<div class="w3-col l8desktop">
			<div style="margin-right:30px;margin-left:56px" class="w3-container">	
				<div class="videoWrapper w3-container">
					<%= raw @tintuc.video %>
				</div>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				Share Lên Facebook
				<div style="line-height:1" class="w3-margin-top w3-container">
					<h2><%= @tintuc.title %></h2>
				</div>
				<div class=" w3-container">
					<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/"></a></blockquote></div>Kết Nối Vối Chapry trên Facebook
					<div  class="w3-margin-top alink ">
						<%= raw @tintuc.content %>
					</div>
				</div>
				
				
				<!-- FACEBOOK COMMENT BOX DESKTOP-->
				<div class="w3-container">
					<div  class="fb-comments" data-width="100%" data-href="" data-numposts="5"></div>
				</div>
			</div>	
		</div>
		
		<!-- RIGHTSIDE BOX DESKTOP-->
		<%= render partial: "shared/tintucsidebar" %>
	
	</div>
</div>

<!-- ipad ------------------------------------------------------------------------------------------->
<!-- ipad ------------------------------------------------------------------------------------------->
<!-- ipad ------------------------------------------------------------------------------------------->
<!-- ipad ------------------------------------------------------------------------------------------->


<!-- TOP LONG AD IPAD-->
<div class="w3-dark-grey w3-hide-large w3-hide-small w3-main">
	<div style="max-width:1260px;margin:auto" class="w3-container">
		<div style="margin-bottom:10px">
			<img src="https://s3-ap-southeast-1.amazonaws.com/chaprycms/Google+Adsense/add+6.png"  style="">	
		</div>
	</div>
</div>

<!-- CATEGORY TABS IPAD-->
<div style="font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-small w3-hide-large w3-container">
	<div style="max-width:1260px;margin:auto" class="w3-margin-left w3-conntainer">
        <div>
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
        </div>	
    </div>	
</div>

<!-- MAIN BODY-->
<div style="max-width:1260px;margin:auto" class="w3-hide-large w3-hide-small w3-main">
	
	<!-- WRAP BODY-->
	<div class="w3-container">
		
		<!-- CONTENT BOX IPAD-->
		<div class="w3-container">
			<div style="margin-right:30px;margin-left:56px" class="w3-container">	
				<div class="videoWrapper w3-container">
					<%= raw @tintuc.video %>
				</div>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				Share Lên Facebook
				<div style="line-height:1" class="w3-margin-top w3-container">
					<h2><%= @tintuc.title %></h2>
				</div>
				<div class=" w3-container">
					<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/">Nhật Ký Học Tiếng Anh</a></blockquote></div>Kết Nối Vối Chapry trên Facebook
					<div  class="w3-margin-top alink ">
						<%= raw @tintuc.content %>
					</div>
				</div>
				
				<!-- BOTTOM RECOMMENDED IPAD-->
				<%= render partial: "shared/tintucsidebar" %>
				
				<!-- FACEBOOK COMMENT BOX IPAD-->
				<div class="w3-container">
					<div  class="fb-comments" data-width="100%" data-href="" data-numposts="5"></div>
				</div>
			</div>	
		</div>
	</div>
</div>

<!-- phone ------------------------------------------------------------------------------------------->
<!-- phone ------------------------------------------------------------------------------------------->
<!-- phone ------------------------------------------------------------------------------------------->
<!-- phone ------------------------------------------------------------------------------------------->

<!-- CATEGORY TABS IPAD-->
<div style="margin-top:42px;font-family: 'Raleway', sans-serif" class="cartab w3-black w3-hide-medium w3-hide-large w3-container">
	<div  class=" w3-container">
        	<%= link_to "Từ Vựng", root_path, class: "w3-hover-blue w3-padding  w3-btn" %>
        	
        	<%= link_to "Luyện Nghe", video_path, class: "w3-hover-blue w3-padding w3-btn" %>
        	
        	<%= link_to "Luyện Nói", news_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<!--<%= link_to "Luyện Nghe", tuvung_path, class: "w3-hover-blue w3-padding w3-btn" %>-->
        		
        	<%= link_to "Bài Hát", trochoi_path, class: "w3-hover-blue w3-padding w3-btn" %>
        		
        	<%= link_to "Giải trí", baihat_path, class: "w3-hover-blue w3-padding w3-btn" %>
    
        	<%= link_to "Phát Âm", nguphap_path, class: "w3-hover-blue w3-padding w3-btn" %>
    </div>	
</div>

<!-- MAIN BODY-->
<div class="w3-hide-large w3-hide-medium w3-main">
	
	<!-- WRAP BODY-->
	<div class="w3-container">
		
		<!-- CONTENT BOX PHONE-->
		<div style="margin-left:10px" class="w3-container">
			<div class="w3-container">	
				<div class="videoWrapper w3-container">
					<%= raw @tintuc.video %>
				</div>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				Share Lên Facebook
				<div style="line-height:1" class="w3-margin-top w3-container">
					<h2><%= @tintuc.title %></h2>
				</div>
				<div class=" w3-container">
					<div class="fb-page" data-href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nh%E1%BA%ADt-K%C3%BD-H%E1%BB%8Dc-Ti%E1%BA%BFng-Anh-143868439376052/">Nhật Ký Học Tiếng Anh</a></blockquote></div>Kết Nối Vối Chapry trên Facebook
					<div  class="w3-margin-top alink ">
						<%= raw @tintuc.content %>
					</div>
				</div>
				
				
				
				<!-- BOTTOM RECOMMENDED PHONE-->
				<%= render partial: "shared/tintucsidebar" %>
				
				<!-- FACEBOOK COMMENT BOX PHONE-->
				<div class="w3-container">
					<div  class="fb-comments" data-width="100%" data-href="" data-numposts="5"></div>
				</div>
			</div>	
		</div>
	</div>
</div>

<!-- FOOTER FOR ALL SCREEN-->
<%= render partial: "shared/footer" %>

<!-- FACEBOOK JAVASCRIPT-->
<div id="fb-root"></div>
<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>