<% content_for :head do %>
	<title><%= @post.title %></title>
	<!-- Open Graph data -->
	<meta property="og:site_name" content="chapry">
	<meta property="fb:app_id" content="984512708308216"></meta>
	<meta property="og:url" content="<%= request.original_url %>"></meta>
	<meta property="og:type" content="article">
	<meta property="og:title" content="<%= @post.title %>">
	<meta property="og:description" content="<%= @post.description %>">
	<meta property="og:image" content="<%= @post.image.url %>">
<% end %>

<%= render partial: "shared/header" %>
<%= render partial: "shared/search" %>
<div  class="w3-main">
	<div style="margin-top:18px" class="w3-container ">
		
		<div style="font-family:Merriweather,Times,sans-serif;font-size:21px;" class=" w3-col l8 w3-white m8 s12">
			<div class="w3-container  w3-padding">
				<div class=" embed-container">
					<%= raw @post.video %>
					
				</div>
			</div>
			
			<div style="margin-left:42px" class="w3-container w3-hide-small w3-padding">
				<div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				<div  class="alink ">
					
					<%= raw @post.content %>
					
				</div>
				
			</div>
			<div  class="w3-container w3-hide-large w3-hide-medium w3-padding">
				<div class="fb-like" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				<div  class="alink ">
					<%= raw @post.content %>
					
				</div>
				
			</div>
			<div  class="w3-white w3-container">
				<div class="fb-like" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
				<div  class="fb-comments" data-width="100%" data-href="" data-numposts="5"></div>
			</div>
		</div>
		
	
		
		
		
		
		<%= render partial: "shared/postsidebar" %>
	</div>
</div>
<div id="fb-root"></div>
<%= render partial: "shared/footer" %>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'active';
    }
}
</script>
